body{
      background-color: hsl(212, 45%, 89%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
}
.container{
      display: block;
      justify-content: center;
      align-items: center;
      background-color: hsl(0, 0%, 100%);
      text-align: center;
      border-radius: 20px;
      height: 465px;
      width: 320px;
}
img{
      height: 300px;
      width: 300px;
      border-radius: 20px;
      margin-top: 10px;
}
.header{
      margin-top: 20px;
}
.writeup{
      margin-top: 20px;
}